{:paths ["resources" "src" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clj-commons/primitive-math {:mvn/version "1.0.0"}
        net.java.dev.jna/jna {:mvn/version "5.7.0"}
        cnuernber/dtype-next {:mvn/version "9.030"}
        techascent/tech.jna {:mvn/version "4.05"}}
 :deps/prep-lib
 {:ensure "target/classes"
  :alias :build
  :fn compile}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}
  :test {:extra-paths ["test"]}
  :examples {:extra-paths ["examples/src"]}}}